* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
  z-index: 2;
}
.main-text {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  z-index: 3;
}

hr {
  width: 70%;
  margin-left: 15% !important;
  margin-right: 15% !important;
}
.center {
  text-align: center;
}
.products-text {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 50px;
  margin-top: 25px;
}
.card {
   margin: 10px;
}
.row {
    margin: 15px;
}
